.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.followers {
  font-size: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin: 0 auto;
  font-size: 10px;
  margin-bottom: 20px;
}

.card {
  font-size: 15px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  border: 1px solid lightgrey;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black;
  margin: 0 auto;
  font-size: 10px;
}

h1 {
  margin: 0 auto;
  width: 200px;
  padding: 20px;
}
